.container {
	padding: 0 2rem;
}

.heroCorner {
	min-width: 25%;
	max-width: 35%;
	position: absolute;
	top: auto;
	left: auto;
	right: 0;
	bottom: 0;
}

.titleWrapLanding {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 4rem;
	max-width: 55%;
}

.title {
	margin-top: 0px;
	margin-bottom: 16px;
	color: #111;
	font-family: 'Roboto', sans-serif;
	font-size: 56px;
	line-height: 1.15;
	font-weight: 700;
	letter-spacing: -0.04em;
}

.subtitle {
	color: #555;
	font-size: 18px;
	line-height: 1.6;
	letter-spacing: -0.02em;
}

.titleWrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 4.5rem;
	max-width: 45rem;
	text-align: center;
}

.left {
	text-align: left;
	margin-left: 0;
	margin-right: 0;
	align-items: flex-start;
}

.titleContent {
	margin-bottom: 14px;
	color: rgba(17, 17, 17, 0.57);
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.card {
	padding: 1rem;
	background-color: #fafafa;
}

.cardImage {
	width: 100%;
	margin-bottom: 20px;
}

.block {
	position: absolute;
	left: 0;
	top: 0;
	right: auto;
	bottom: 0;
	width: 100%;
	height: 90%;
	max-width: 35%;
	background-color: #edf7ff;
	z-index: -1;
}

.oppositeBlock {
	left: auto;
	right: 0;
}

.sectionGrid {
	display: grid;
	align-items: center;
	column-gap: 72px;
	row-gap: 44px;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto;
}

.oppositeGrid {
	grid-template-columns: 2fr 1fr;
}

.programBase {
	display: flex;
	height: 100%;
	padding: 2rem 2rem 2.25rem;
	flex-direction: column;
	border-bottom: 2px solid #61b5ff;
	background-color: #f8f8f8;
}

.superTitle {
	margin-bottom: 0.5rem;
	font-size: 1rem;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.bodyTitle {
	font-size: 1.25rem;
	font-weight: 600;
	color: #111;
	margin-bottom: 20px;
}

.ctaTitle {
	font-size: 48px;
	color: #fff;
}

.ctaSubtitle {
	color: hsla(0, 0%, 100%, 0.8);
}

.ctaButton {
	padding: 20px 35px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 14px 14px 35px 0 rgba(33, 38, 106, 0.1);
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	color: #000;
	font-weight: 700;
	margin-top: 32px;
}
